<?xml version="1.0" ?>
<launch>
  <arg name="joypad_cfg_file" default="$(find rockin_teleop)/ros/config/logitech.yaml"/>
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

  <include file="$(find rockin_hardware_config)/upload_param.launch" />
  <include file="$(find rockin_default_robot_config)/upload_param.launch" />
    
  <node pkg="joy" type="joy_node" name="joy_node">
    <rosparam command="load" file="$(find rockin_hardware_config)/$(arg robot)/config/joy.yaml"/>
  </node>

  <!-- start youbot teleop node -->
  <node pkg="rockin_teleop" type="rockin_teleop_joypad_node" name="rockin_teleop_joypad" output="screen">
    <rosparam command="load" file="$(arg joypad_cfg_file)"/>
    <rosparam command="load" file="$(find rockin_hardware_config)/$(arg robot)/config/teleop.yaml"/>  
  </node>

</launch>
