<?xml version="1.0"?>
<robot name="ax_06b_cover_plate_no_hole" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find rockin_gazebo)/ros/urdf/model_template.urdf.xacro" />
  <xacro:include filename="$(find rockin_gazebo)/ros/urdf/common.urdf.xacro" />
  <!-- reference frame-->
  <link name="${origin}"/>

  <xacro:macro name="ax_06b_cover_plate_no_hole" params="name">
    <!-- objects -->
    <model_template object_model_path="${ax_06b_cover_plate_no_hole}" mass_of_object="${ax_06b_cover_plate_no_hole_mass}" com_of_object="${com_ax_06b_cover_plate_no_hole}"
      type_of_object="floating"
      link_name="${name}" parent="${origin}" 
      trans_x="0" trans_y="0" trans_z="0" 
      rot_x="0" rot_y="0" rot_z="0"/>

  </xacro:macro>
  <xacro:ax_06b_cover_plate_no_hole name="ax_06b_cover_plate_no_hole" />
</robot>