<?xml version="1.0"?>
<robot name="em_02_coverplates_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find rockin_gazebo)/ros/urdf/model_template.urdf.xacro" />
  <xacro:include filename="$(find rockin_gazebo)/ros/urdf/common.urdf.xacro" />
  <!-- reference frame-->
  <link name="${origin}"/>

  <xacro:macro name="em_02_coverplates_box" params="name">
    <!-- objects -->
    <model_template object_model_path="${em_02_coverplates_box}" mass_of_object="${em_02_coverplates_box_mass}" com_of_object="${com_em_02_coverplates_box}"
      type_of_object="floating"
      link_name="${name}" parent="${origin}" 
      trans_x="0" trans_y="0" trans_z="0" 
      rot_x="0" rot_y="0" rot_z="0"/>

  </xacro:macro>
  <xacro:em_02_coverplates_box name="em_02_coverplates_box" />
</robot>